<div class='container'>
	<div class='d-flex justify-content-center flex-column w-50 mx-auto'>
		<% if @errors && @errors.any? %>
		  <% @errors.each do |error| %>
		    <div class='alert-danger'><%= error %></div>
		  <% end %>
		<% end %>
		<p><%= link_to('Back to form', '/') %></p>
	</div>
<div>